@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap');

/* Modification de la police */
html {
    font-family: 'Mukta', sans-serif;
}
/* Mise en place d'une coleur de fond */
body {
    background-color: rgb(149, 191, 238);
}



/* Utilisation de flexbox pour centrer et mettre les elements en page */
form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.form1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
}

.warning {
    color: rgb(172, 58, 80);
}

.formtitle,
.warning {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 4px 3px 1px rgba(150, 150, 150, 0.87);


}

.main,
.forminput {
    display: flex;
    flex-flow: column nowrap;
}

.forminput {
    padding: 10px;
}

.title {
    text-align: center;
}

.form-radio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    font-size: 12px;
}
/* fin de flexbox */

h3 {
    text-shadow: 4px 3px 1px rgba(150, 150, 150, 0.87);
    text-decoration: underline;
}